.background-icon {

    @media screen and (max-width: $mobile) {
        width: 450px;
        height: 120px;
        background-color: #F5F4FA;

        &>svg {
            display: block;
            width: 70px;
            height: 70px;
            margin: auto;
        }
    }
}