.social-networks {

    display: flex;
    justify-content: center;

    .item:not(:last-child) {
        margin-right: 10px;
    }
}


.soc-icon {
    max-width: 20px;
    max-height: 20px;
}

.but-social-net {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    padding: 0;
    margin: 16px 0 0 0;

    border: 0;
    border-radius: 50%;
    background-color: $primary-background-color;
    fill: #afb1b8;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        transform: scale(1.1);
        cursor: pointer;


        background-color: $accent-color;
        fill: #f5f4fa;
    }
}