.section-title {
    margin: 0;
    padding-bottom: 50px;

    font-size: 36px;
    line-height: 0.8;
    text-align: center;
    color: $title-text-color;
}

.specializing {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.activity-list {
    display: flex;
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    text-transform: uppercase;
    line-height: 1.14;
    text-align: center;
    color: $button-text;
    background-color: rgba(47, 48, 58, 0.8);
}

.activity {
    position: relative;
    max-height: 294px;

}