$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$button-text: #ffffff;
$white-text: #ffffff;

$mobile: 480px;
$tablet: 768px;
$desktop: 1600px;